.profileInfoBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  margin: 15px 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.5);
  background-color: rgba(255, 255, 255, .3);
}

.avatarBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avatar {
  width: 250px;
  height: 250px;
  border: 3px solid black;
  border-radius: 125px;
}

.descriptionBlock {
  max-width: 350px;
}

.fullName {
  font-size: 2rem;
  font-weight: bold;
}

.aboutMe {
  font-style: italic;
  margin-bottom: 30px;
}

.imgPlusTextBlock {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0;
}

.smallIcon {
  width: 30px;
  height: 30px;
}

.lookingForAJobDescription {
  font-style: italic;
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.contactsHeader {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  align-self: center;
}

.linksBlock {
  border-top: 2px solid black;
}