.pagesBlock {
  font-size: 1.4rem;
  border-bottom: 5px solid rgba(255, 255, 255, .3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px 0px;
  margin: 10px 20px;
}

.usualPage {
  font-style: normal;
  min-width: 60px;
  min-height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 15px;
  border-radius: 40px;
}

.usualPage:hover {
  background-color: rgba(255, 255, 255, .3);
  border-radius: 40px;
}

.selectedPage {
  font-weight: bold;
  background-color: rgba(255, 255, 255, .3);
}

.arrow {
  font-style: italic;
  min-width: 100px;
  min-height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 15px;
  border-radius: 40px;
}

.arrow:hover {
  background-color: rgba(255, 255, 255, .3);
  border-radius: 40px;
}