.usersBlock {
  display: flex;
  flex-direction: column;

  min-height: 270px;
}

.getUsersButton {
  font-size: 1.4rem;
  margin: auto;
}

.showMoreButton {
  font-size: 1.4rem;
  margin: auto;
  margin-bottom: 10px;
}