.usersBlock {
  display: flex;
  flex-direction: column;

  min-height: 270px;
}

.showMoreButton {
  font-size: 1.4rem;
  margin: auto;
  margin-bottom: 10px;
}

.usualPage {
  font-style: normal;
}

.selectedPage {
  font-weight: bold;
}