.header {
  grid-area: h;
  background-color: darkslategray;

  position: sticky;
  top: 0;
}

.header img {
  width: 70px;
  margin: 5px;
}

.loginBlock {
  float: right;
  font-size: 1.3rem;
}

.loginBlock a {
  color:rgb(97, 218, 251);
}

.authUserInfo { 
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  color:rgb(97, 218, 251);
}

.avatar {
  width: 70px;
  margin: 5px;
  border-radius: 35px;
}

.loginButton {
  padding: 25px;
}

.logoutIcon {
  max-width: 40px;
}